.left-nav .logo-link {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #002140;
}
.left-nav .logo-link img {
  width: 40px;
  height: 40px;
  margin: 0 15 0 15px;
}
.left-nav .logo-link h1 {
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}
